{% extends "base.html" %}

{%block title%}Blog{%endblock%}

{% block content %}
<h1> Blog</h1>

{% for post in posts %}
<div class="row">
	<div class="col-xs-12">
			<h4>{{ post.title }}</h4>
	</div>
	<div class="col-xs-12">
			<i>{{post.posted_at}}</i>
	</div>
	<div class="col-xs-12">
			<blockquote>{{post.content}}</blockquote>
	</div>
	{% if request.user == post.author %}
	<div class="col-xs-12">
			<a  class="btn btn-info" role="button" href="{% url 'update_post' post.id %}">
				Edit post
			</a>
	</div>
	{% endif %}
	
</div>
<hr />
{% endfor %}
{% endblock %}